// L logo

.logo {
    max-width: 40px;
    transition: 1s all ease-out;
        &:hover, &:focus {
            transform: rotate(180deg);
        }
}


.btn--cta {
    @include btn(white, $color-ac, $color-ac);
    margin-top: 40px;
}

.btn--info {
    @include btn(white,$color-main, $color-main);
    margin-top: 40px;
}

.btn--live {
    @include btn(black, black, white);
    // margin-top: 30px;
    // @include btn($color-ac, $color-ac, $color-opacity);
    margin-top: 40px;
}

.btn--resume {
    @include btn(white, $color-main, $color-main);
}