//---------------------------
//        Footer
//---------------------------

footer {
    background: $color-ac;
    // border: 1px solid black;
    padding-left: 20px;

}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: $break-small) {
        flex-flow: row wrap;
        justify-content: center;
        .footerSocialWrap {
            width: 100%;
        }

        .footerNav {
            display: none;
        }
    }
}

.footerSocialWrap {
    @include flexCenter(row);
}