@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
    text-align: center;
}

@mixin btn($color, $bor-color, $bg-color) {
    color: $color;
    border: $bor-color solid 1px;
    padding: 16px 36px;
    border-radius: 30px;
    transition: 0.2s all ease-in-out;
    background: $bg-color;
    text-align: center;

    &:hover, &:focus {
        transform: scale(1.05);
        // background: lighten($bg-color, 0.1);
    }

    &:active {
        color: $bg-color;
        border: $bor-color solid 1px;
        background: $color;
    }
}
