//---------------------------
//     Portfolio/works
//---------------------------

.portfolio {
    padding: 100px 0;
    display: flex;
    flex-flow: column nowrap;
    background: $color-gray;

    @media (max-width: 1070px) {
        .wrapper {
            width: 95%;
        }
    }
}


// individual works
.workCard {
    padding: 60px 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    &:nth-of-type(2n) {
        .work__text {
            order: 2;
        }

        .work__image {
            order: 1;
        }
    }

    @media(max-width:$break-med) {
        flex-flow: row wrap;

        .work__text {
            order: 2;
        }

        .work__image {
            order: 1;
        }
    }
}

.work__description {
    margin-top: 40px;
    order: 1;
}

.work__image {
    order: 2;
    min-width: 50%;
    @media (max-width: $break-med) {
        min-width: initial;
    }
}

.workTags {
    display: flex;
    margin-bottom: 20px;
}

.tag:not(:last-of-type) {
    margin-right: 20px;
    position: relative;
    &::after {
        content: "◆";
        color: $color-main;
        position: absolute;
        right: -16px;
        top: -1px;
        font-size: 14px;
    }
}

.buttonBox {
    display: flex;
    flex-flow: row wrap;

    .btn--cta {
        margin-left: 20px;
    }
}

.mockup--right {
    right: -15%;
}

.mockup--left {
    left: -15%;
}

img.mockup--left, img.mock--right {
    width: initial;
    max-width: 500px;
    position: absolute;

    @media (max-width: 900px) {
        position: relative;
        left: 0;
        right: 0;
        // width: 100%;
        max-width: initial;
    }
    
    @media (max-width: $break-med) {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.workTags {
    @include remCalc(14);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.workName {
    @include remCalc(16);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-main;
    // border-bottom: 2px solid $color-main;
    // padding: 0 100px 3px 0;
    margin-bottom: 10px;
    display: inline-block;
}

.workType {
    @include remCalc(28);
}