//---------------------------
//     Portfolio/works
//---------------------------

.portfolio {
    padding-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    @media (max-width: 1070px) {
        .wrapper {
            width: 95%;
        }
    }
}


// individual works
.workCard {
    padding: 80px 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &:nth-of-type(2n) {
        .work__text {
            order: 2;
        }

        .work__image {
            order: 1;
        }
    }

    @media(max-width:$break-med) {
        padding: 50px 0;
        flex-flow: row wrap;

        .work__text {
            order: 2;
            width: 100%;
            margin: 30px 10px 0 10px;
            padding: 0;

        }

        div.work__image {
            order: 1;
            width: 100%;
        }
    }
}

.work__description {
    margin-top: 40px;
    order: 1;
}
//image half
.work__image {
    order: 2;
    min-width: 40%;
    z-index: 10;
}
// text half
.work__text {
    padding-left: 20px;
}

.workTags {
    display: flex;
    margin-bottom: 20px;
}

.tag:not(:last-of-type) {
    margin-right: 20px;
    position: relative;
    &::after {
        content: "◆";
        color: $color-ac;
        position: absolute;
        right: -16px;
        top: -1px;
        font-size: 14px;
    }
}

.buttonBox {
    display: flex;
    flex-flow: row nowrap;

    .btn--info {
        margin-left: 20px;
        margin-top: 0;
    }
    .btn--live {
        margin-top: 0;
    }

    @media (max-width: $break-med) {
        align-items: flex-start;
        .btn--live, .btn--info {
            width: 220px;
        }
    }
    
    @media (max-width: 450px) {
        flex-flow: column wrap;
        align-items: center;
            .btn--info {
                margin-left: 0;
                // margin-top: 5px;
                width: 100%;
            }
        
            .btn--live {
                margin-bottom: 5px;
                width: 100%;
            }
    }


}

.mockup--right, .mockup--left {
    max-width: 450px;
    // position: absolute;
}

.mockup--right {
    // right: -100px;
    @media (max-width:860px) {
        position: absolute;
        right: -180px;
    }
}

.mockup--left {
    // left: -100px;
    @media (max-width: 860px) {
        position: absolute;
        left: -180px;
    }
}

.mockup--right, .mockup--left {
    @media (max-width: $break-med) {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

.workTags {
    @include remCalc(14);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.workName {
    @include remCalc(16);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-main;
    // border-bottom: 2px solid $color-main;
    // padding: 0 100px 3px 0;
    margin-bottom: 10px;
    display: inline-block;
}

.workType {
    @include remCalc(28);
}