
//---------------------------
//        Skills
//---------------------------

.skills {
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

.devicon {
    // i and img
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    transition: ease 0.3s all;
    margin-bottom: 15px;
    &:hover, &:focus {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}

i.devicon {
    @include remCalc(80);
    display: inline-block;
    text-align: center;
}

.devicon.sketch-icon {
    width: 75px;
    height: 70px;
}
.devicon--img {
    width: 75px;
    height: 75px;
}


.skillBoxWrap {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}

.skillBox {
    min-height: 150px;
    width: 33%;
    @include flexCenter(column);
}
