
@mixin remCalc($fontSize) {
    font-size: ($fontSize / 16) * 1rem;
}

//theme accent colors
$color-gray: #f9f9f9;
$color-dkgray: #5a5a5a;
$color-main: #7570ff;
$color-ac: #f95d8f;
$color-opacity: rgba(white, 0.8);


// Normalize typography
body {
    font-family: 'Montserrat', sans-serif;
    @include remCalc(16); 
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    display: inline-block;
    // color: $color-dark;
    :visited {
        color: inherit;
    }
}

li {
    list-style-type: none;
}

p {
    line-height: 1.4;
}

p ~ p {
    margin-top: 10px;
}

.heading {
    font-weight: 700;
    &__section {
        margin-bottom: 40px;
       @include remCalc(60); 
       text-align: center;
       @media (max-width: $break-small) {
           font-size: 14vw;
       }
    }

    &__skillBox {
        @include remCalc(20);
    }

    &__hero {
        @include remCalc(90);
        margin-bottom: 10px;
    }

    &__form {
        @include remCalc(30);
        margin-bottom: 30px;
        width: 90%;
        text-align: center;
    }

    &__blog {
        @include remCalc(40); 
        margin-top: 50px;
        text-align: left;
    }
}

.text {
    &__hero {
        margin: 5px 0;
        font-weight: 400;
        @include remCalc(20); 
    }

    &__reg {
       @include remCalc(16); 
       color: $color-dkgray;
    }

    &__blog {
        @include remCalc(18); 
        text-align: left;
        
        a {
            color: $color-main;
            font-weight: 700;

            &:hover, &:focus {
                color: rgba($color-main, 0.5);
            }
        }
    }

    &--center {
        text-align: center;
    }

}

.link {
    &__mainNav {
        margin-left: 40px;
        color: black;
        padding: 18px 5px 21px;
        border-bottom: 3px solid transparent;
        transition: 0.3s border, 0.3s color;

        &:visited {
            color: black;
        }

        &:hover, &:focus {
            color: $color-main;
            border-bottom: 3px solid $color-main;
        }

        @media (max-width: $break-small) {
            margin-left: 10px;
        }
    }

    &__ul {
        color: $color-ac;
    }

    &__footerNav {
        margin-left: 10px;
        color: black;
        padding: 8px 0;
        border-bottom: 1px solid transparent;
        &:hover, &:focus {
            color: black;
            border-bottom: 1px solid black;
        }

        &:visited {
            color: black;
        }
    }
}