//theme accent colors
$color-gray: #eff2f5;
$color-dkgray: #5a5a5a;
$color-main: #7570ff;
$color-ac: #f95d8f;
$color-opacity: rgba(white, 0.8);


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;

//numbers
$header-height: 0px;
