@import "normalize";
@import "variables";
@import "mixin";
@import "typography";
@import "components";
@import "header";
@import "footer";
@import "portfolio";
@import "contact";
@import "skills";
@import "about";
@import "resume";
@import "blog";

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 90%;
    } 
}

// header wrapper will be full width in mobile
header.wrapper {
    @media (max-width: $break-med) {
        width: 100%;
    } 
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }


.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

section {
    min-height: 80vh;
}